# {{ site }} server configuration

server {
    listen 80;
    server_name {{ server_name }} www.{{ server_name }};

    location /.well-known/acme-challenge/ {
        root {{ challenge_directory }};
    }
}
