# {{ site }} server configuration

server {
    listen 80 default_server;
    listen [::]:80 default_server;
	server_name _;

    root {{ challenge_directory }};

    location ~ ^/\.well-known {
        allow all;
    }

    location / {
        return 301 https://{{ redirect_server_name }}$request_uri;
    }
}

server {
        ssl_certificate {{ letsencrypt_output_dir }}/fullchain.pem;
        ssl_certificate_key {{ letsencrypt_output_dir }}/privkey.pem;

        listen 443 default_server;
        listen [::]:443 default_server;
        server_name _;

        location / {
            return 301 https://{{ redirect_server_name }}$request_uri;
        }
}
