# {{ site }} server configuration

server {
    listen 80;
    listen [::]:80;
	server_name {{ server_name }} www.{{ server_name }};

    root {{ challenge_directory }};

    location ~ ^/\.well-known {
        allow all;
    }

    location / {
        return 301 https://{{ server_name }}$request_uri;
    }
}

server {
        ssl_certificate {{ letsencrypt_output_dir }}/fullchain.pem;
        ssl_certificate_key {{ letsencrypt_output_dir }}/privkey.pem;

        server_name www.{{ server_name }};
        {% for addr in https_addresses %}
        listen {{ addr }} ssl http2;
        {% endfor %}

        location / {
            return 301 https://{{ server_name }}$request_uri;
        }
}

server {
        ssl_certificate {{ letsencrypt_output_dir }}/fullchain.pem;
        ssl_certificate_key {{ letsencrypt_output_dir }}/privkey.pem;

        server_name {{ server_name }};

        {% for addr in https_addresses %}
        listen {{ addr }} ssl http2;
        {% endfor %}

        {% if enable_gzip %}
        gzip on;
        gzip_types
                    text/plain
                    text/css
                    text/js
                    text/javascript
                    application/javascript
                    application/json
                    image/svg+xml;
        {% endif %}

    add_header Strict-Transport-Security "max-age=63072000; preload";
	location / {
	    proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_pass http://127.0.0.1:{{ host_port }}/;
	}
}
